NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# TMDB API Configuration
NEXT_PUBLIC_TMDB_API_KEY=504f6a520a9012745047291735b07cac
TMDB_API_KEY=504f6a520a9012745047291735b07cac
